<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Ficha de Usuario</h3>
    </div>

</div>


<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
        </div>
    </div>

</div>


<div class="row animated fadeIn offset-3" *ngIf="!loading">
    <div class="col-6 ">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="">
                        <img src="../assets/images/users/trainer.jpeg" alt="user" class="img-circle" width="100">
                    </div>
                    <div class="p-l-20">
                        <h3 class="font-medium">{{usuario.nombre}}</h3>
                        <h6>Fecha de registro:<br> <small>{{usuario.created_at | date:'hh:mm | dd-MM-yyyy '}}</small></h6>
                        <h6>Fecha última actualización:<br> <small>{{usuario.updated_at | date:'hh:mm | dd-MM-yyyy '}}</small></h6>
                        <button class="btn btn-success"><i class="ti-plus"></i> Seguir</button>
                    </div>
                </div>
                <div class="row m-t-40">
                    <div class="col b-r text-center">
                        <h2 class="font-light">{{usuario.sesiones.length}}</h2>
                        <h6>Sesiones</h6>
                    </div>
                    <div class="col b-r text-center">
                        <h2 class="font-light">{{usuario.sesion_usuarios.length}}</h2>
                        <h6>Sesion_Usuarios</h6>
                    </div>
                    <div class="col text-center">
                        <h2 class="font-light">145</h2>
                        <h6>Otro</h6>
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <p class="text-center aboutscroll">
                    Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididunt adipisicing elit, sed do eiusmod tempor incididunLorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididuntt
                </p>
                <ul class="list-icons d-flex flex-item text-center p-t-10" style="list-style: none;">
                    <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Website"><i class="fa fa-globe font-20"></i></a></li>
                    <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter font-20"></i></a></li>
                    <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook-square font-20"></i></a></li>
                    <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Youtube"><i class="fa fa-youtube-play font-20"></i></a></li>
                    <li class="col"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Linkd-in"><i class="fa fa-linkedin-square font-20"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>